<ul class="recruit-records">
  <% recruits.order("id DESC").each do |recruit| %>
    <li class="recruit-record">
      <div class="triangle"></div>
      <div class="days-left">
        <%# 現在時刻と応募の締め切り時刻の差分をとっている %>
        <% diff = recruit.due_date - Time.zone.now %>
        <% s = diff % 60 %>
        <% m = ((diff - s) / 60) % 60 %>
        <% h = ((diff - s - m * 60) / (60 ** 2)) % 24 %>
        <% d = ((diff - s - m * 60 - h * 60 ** 2) / (60**2 * 24)) %>
        <% if d.to_i < 0 %>
          <p class="font-weight-bold">
            終了しました
          </p>
        <% elsif d.to_i == 0 %>
          <p class="font-weight-bold">
            応募終了まで</br>
            <%= h.to_i %>時間&emsp;
          </p>
        <% else %>
          <p class="font-weight-bold">
            応募終了まで</br>
            <%= d.to_i %>日&emsp;
          </p>
        <% end %>
      </div>
      <%= link_to recruitment_path(recruit), class:'title' do %>
        <%= recruit.title %></br>
      <% end %>
      <%= link_to user_path(recruit.user_id), class:'user_name' do %>
        <%= attachment_image_tag recruit.user, :profile_image,size: '30x30', format:'jpg', fallback:'no_image.png', class:'profile_image' %>
        <%= recruit.user.name %></br>
      <% end %>
      <div class="block">
        <p>開催日時：<strong><%= recruit.event_date.strftime('%Y/%m/%d %H:%M') %></strong></p>
        <p><%= recruit.prefecture %></p>
        <p><%= recruit.place %></p>
        <div class="spacer"></div>
        <p><%= recruit.sport %></p>
        <p>募集人数：<%= recruit.recruit_number %>人</p>
        <p><%= recruit.level %></p>
      </div>
    </li>
  <% end %>
</ul>
<div class="page">
  <%= paginate recruits %>
</div>
