<div class="container">
  <div class="row">
    <div class="col-lg-3 text-center">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="col-lg-9 show-recruit">
      <div class="show-top">
        <h3>募集詳細</h3>
        <% if @recruit.user == current_user %>
          <%= link_to "募集を削除する", recruitment_path, method: :delete, data: { confirm: "【確認】募集を削除してもよろしいですか？" }, class:'btn btn-danger' %>
        <% end %>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th>タイトル</th>
            <td><%= @recruit.title %></td>
          </tr>
          <tr>
            <th>投稿者</th>
            <td>
              <%= link_to user_path(@recruit.user_id), class:'user_name' do %>
                <%= attachment_image_tag @recruit.user, :profile_image, size: '30x30', format:'jpg', fallback:'no_image.png', class:'profile_image' %>
                <%= @recruit.user.name %></br>
              <% end %>
            </td>
          <tr>
            <th>スポーツ名</th>
            <td><%= @recruit.sport %></td>
          </tr>
          <tr>
            <th>開催日時</th>
            <td><%= @recruit.event_date.strftime('%Y/%m/%d %H:%M') %></td>
          </tr>
          <tr>
            <th>応募締め切り日時</th>
            <td><%= @recruit.due_date.strftime('%Y/%m/%d %H:%M') %></td>
          </tr>
          <tr>
            <th>都道府県</th>
            <td><%= @recruit.prefecture %></td>
          </tr>
          <tr>
            <th>場所</th>
            <td><%= @recruit.place %></td>
          </tr>
          <tr>
            <th>募集人数</th>
            <td><%= @recruit.recruit_number %></td>
          </tr>
          <tr>
            <th>募集する人のレベル</th>
            <td><%= @recruit.level %></td>
          </tr>
          <tr>
            <th>本文</th>
            <td><%= @recruit.body %></td>
          </tr>
        </tbody>
      </table>

      <div class="text-center">
        <% if @recruit.user_id != current_user.id %>
          <% if @exist_room == true %>
            <%= link_to "募集の投稿者にメッセージを送る", room_path(@room.ids), class:'btn btn-info' %>
          <% else %>
            <%= form_with model:@room, url: rooms_path, local: true do |f| %>
              <%= f.hidden_field :user1_id, :value => current_user.id %>
              <%= f.hidden_field :user2_id, :value => @recruit.user_id %>
              <%= f.submit "募集の投稿者にメッセージを送る", class:'btn btn-info' %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>