<div class="container">
  <div class="row">
    <div class="col-lg-9 mx-auto my-5 p-0">
      <div class="partner-name">
        <% if @room.user1_id == current_user.id %>
          <h4><%= @room.user2.name %> さんとのチャット</h4>
        <% else %>
          <h4><%= @room.user1.name %> さんとのチャット</h4>
        <% end %>
      </div>
      <div class="chat-area">
        <% @chats.each do |chat|%>
          <%if chat.user_id == current_user.id%>
            <div class="mycomment">
              <p><%= chat.message %></p>
            </div>
          <%else%>
            <div class="fukidasi">
              <div class="faceicon">
                <%= link_to user_path(chat.user_id), class:'user_name' do %>
                  <%= attachment_image_tag chat.user, :profile_image, size: '30x30', format:'jpg', fallback:'no_image.png', class:'profile_image' %>
                <% end %>
              </div>
              <div class="chatting">
                <div class="says">
                  <p><%= chat.message %></p>
                </div>
              </div>
            </div>
          <%end%>
        <%end%>
      </div>

      <div class="message-form">
        <%= form_with model:@chat, url: chats_path, local: true do |f| %>
          <div class="field">
            <%= f.text_area :message, size: "0x3", placeholder: "コメントを入力", class: 'form-control enter-field' %>
          </div>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :room_id, :value => @room.id %>
          <div class="button">
            <%= f.submit "コメントを送る", class:'btn btn-info' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>